{{!-- <div class="col-xs-12">
	<h2>Browse by Subject</h2>
	{{#each entry}}
			<h3><a href="../subj/{{this.name}}"><span class="underScores">{{this.name}}</span></a></h3>
	{{/each}}
</div> --}}

<div class="row"><div class="col-xs-12"><h2></h2></div></div>
<div class="col-xs-12 col-md-1"></div>
<div class="col-xs-12 col-md-10">
	<div class="panel panel-default">
		<div id="resultsHeading" class="panel-heading">
			<h2>Browse by Subject</h2>
		</div>
		<div id="resultsBody" class="panel-body">
			{{#if tree}}

				<ul>
					{{#each topic}}
						<br/>
						<div>
							<div class="underScores hideList">{{this}}</div>
							<ul class="mainEthn hideList" id="{{this}}"></ul>
						<div>
					{{/each}}
				</ul>
				<div id="allSubjs">
					{{allSubjs}}
				</div>

			{{else}}
				{{#each entry}}
					<div class="col-xs-12 col-md-3">
						<p><a href="../subj/{{this}}"><span class="underScores">{{this}}</span></a></p>
					</div>
				{{/each}}
			{{/if}}			
		</div>
	</div>	
</div>
<div class="col-xs-12 col-md-1"></div>