<div class="Background"></div>
<nav class="navbar navbar-inverse navbar-fixed-top  ">

	<div class="container-fluid">
		<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
			{{#if user}}
				<a class="navbar-brand" href="/home">{{user.name}}</a>
			{{else}}				
				<a class="navbar-brand" href="/home">The Native American Database</a>
			{{/if}}				
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/home"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;New Search</a></li>
			{{#if user}}
				<li><a href="/mysearches"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;My Searches</a></li>
				<li><a href="/form"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Add Article</a></li>
				<li><a href="/myarticles"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;My Articles</a></li>			
				{{#if user.role}}
					<li><a href="drafts"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;View Drafts</a></li>	
				{{/if}}	
				<li><a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Logout</a></li>
			{{else}}	
				<li><a href="/users/signup"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Sign Up</a></li>
				<li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login</a></li>
			{{/if}}
		</ul>
		</div>	
	</div>
</nav>
<br><br>
<div class="container">
	<h1 class="text-center">The Native American Database</h1>
	<div class="circular-menu">
		<div class="circle">
			
				<div class="container">
					<div class="row">
						<div class="span4"></div>
						<div id="mask" class="span4">
							<img class="center-block" src="../assets/images/kwakiutl-clan-mask.png" class="img-responsive" alt="Kwakiutl Clan Mask" style="width:200px;height:200px" ;></div>
						<div class=" span4 "></div>
					</div>
				</div>
		</div>
	</div>
	<br/>
	<div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
{{!--                 <div id="custom-search-input">
                    <div class="span4"></div>
                    <div class="input-group span4">
                        <input type="text" class="form-control input-lg" placeholder="Search" />
                        <span class="input-group-btn">
                        <button id="search" class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    <div class="span4"></div>
                    </div>
                </div> --}}
		        <form method="post" action="/home" role="search">
			    	<div class="input-group">
						<input type="text" class="form-control input-lg" placeholder="Search" name="srchterm" id="srchterm">
						<div class="input-group-btn">
							<button class="btn btn-default input-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</div>
					</div>
				</form>                
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

{{#if showMenus}}
	<div class="row"><div class="col-xs-12"><h2></h2></div></div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-sm-4">
			{{!-- <h2 class="text-center"><a href="../cultures">Browse by Culture</a></h2> --}}
			<a href="../cultures" class="btn btn-default pull-right" role="button"><h4 class="white">Browse by Culture</h4></a>
		</div>
		<div class="col-sm-4">
			{{!-- <h2 class="text-center"><a href="../subjects">Browse by Subject</a></h2> --}}
			<a href="../subjects" class="btn btn-default pull-left" role="button"><h4 class="white">Browse by Subjects</h4></a>
		</div>
		<div class="col-md-2"></div>
	</div>	
{{/if}}

{{#if showForm}}
	{{> form/form}}
{{/if}}

{{#if cultures}}

	{{> menus/cultures}}

{{/if}}

{{#if subjects}}

	{{> menus/subjects}}

{{/if}}

{{#if isGroup}}
	<div class="row"><div class="col-xs-12"><h2></h2></div></div>
	<div class="row">
		<div class="col-xs-12 col-md-1"></div>
		<div class="col-xs-12 col-md-10">
			<div id="resultsHeading" class="well">
				<h2>Results for
					{{#each entry}}
						{{#if @first}}
							{{this.group}}
						{{/if}}
					{{/each}}
				</h2>
			</div>
		</div>
		<div class="col-xs-12 col-md-1"></div>	
	</div>			
{{/if}}

{{#if isSubj}}
{{!-- 	<h2 class="center-block">Results for 
		{{#each entry}}
			{{#if @first}}
				{{#each content_fields}}
					'<span class="underScores">{{this.ethn_id}}</span>'
				{{/each}}
			{{/if}}
		{{/each}}
	</h2> --}}
	<div class="row"><div class="col-xs-12"><h2></h2></div></div>
	<div class="row">
		<div class="col-xs-12 col-md-1"></div>
		<div class="col-xs-12 col-md-10">
			<div id="resultsHeading" class="well img-rounded">
				<h2 class="center-block">Results for 
					{{#each entry}}
						{{#if @first}}
							{{#each content_fields}}
								'<span class="underScores">{{this.ethn_id}}</span>'
							{{/each}}
						{{/if}}
					{{/each}}
				</h2>
			</div>
		</div>
		<div class="col-xs-12 col-md-1"></div>	
	</div>	
{{/if}}

{{#if searchParam}}

	{{> search/search}}

{{else}}

{{/if}}

{{#if itemPage}}

	{{> search/item}}

{{/if}}

{{#if mySearches}}
	<div class="row"><div class="col-xs-12"><h2></h2></div></div>
	<div class="row">
		<div class="col-xs-12 col-md-1"></div>
		<div class="col-xs-12 col-md-10">
			<div id="resultsHeading" class="well">
				<h2>My Searches
				</h2>
			</div>
		</div>
		<div class="col-xs-12 col-md-1"></div>	
	</div>			
{{/if}}

{{#if myArticles}}
	<div class="row"><div class="col-xs-12"><h2></h2></div></div>
	<div class="row">
		<div class="col-xs-12 col-md-1"></div>
		<div class="col-xs-12 col-md-10">
			<div id="resultsHeading" class="well">
				<h2>My Articles
				</h2>
			</div>
		</div>
		<div class="col-xs-12 col-md-1"></div>	
	</div>			
{{/if}}

{{#if drafts}}
	<div class="row"><div class="col-xs-12"><h2></h2></div></div>
	<div class="row">
		<div class="col-xs-12 col-md-1"></div>
		<div class="col-xs-12 col-md-10">
			<div id="resultsHeading" class="well">
				<h2>Drafts
				</h2>
			</div>
		</div>
		<div class="col-xs-12 col-md-1"></div>	
	</div>			
{{/if}}