<div class="col-xs-12">
	{{#each entry}}
		<div>
			<a href="../item/{{this.id}}" class="queryItem">
				{{#each media_sources}}
					{{#if @first}}
						<div class="youTube" id="{{this.youtube}}"></div>
						<img src="{{this.img_ref_1}}" class="thumbnail" width="150"/>
					{{/if}}
				{{/each}}
			</a>
			<font style="font-size:200%"><a href="../item/{{this.id}}">{{{this.item_title}}}</a>, {{this.group}}</font>
			<br/>
		<span class="preview">{{{this.prim_doc}}}</span>
		<br/><hr/>
	{{/each}}
</div>


{{!-- <div class="col-xs-12 col-md-1"></div>
<div class="col-xs-12 col-md-10">
	{{#each entry}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<font style="font-size:200%">{{{this.item_title}}}, {{this.group}}</font>
			</div>
			<div class="panel-body">
				{{#each media_sources}}
					{{#if @first}}
						<a href="../item/{{this.id}}">
							<div class="youTube center-block" id="{{this.youtube}}"></div>
							<img src="{{this.img_ref_1}}" class="thumbnail center-block" width="150"/>
						</a>
					{{/if}}
				{{/each}}
				<h3>Preview</h3>
				<span class="preview">{{{this.prim_doc}}}</span>
				<h4><a href="../item/{{this.id}}">VIEW</a></h4>
			</div>
		</div>
	{{/each}}
</div>
<div class="col-xs-12 col-md-1"></div> --}}